:root {
    --shadow: 0.2em 0.2em 0.2em black;
    --font: 'Cabin', sans-serif;
}
  
body {
    background-color: #154360;
}

.container {
    margin-top: 50px;
    color: #fff;
}

.Title {
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
    text-shadow: var(--shadow);
    font-family: var(--font);
}

.Description {
    margin: 30px auto;
    width: 1000px;
    font-size: 25px;
    text-shadow: var(--shadow);
    text-align: center;
    font-family: var(--font);
}

.Password {
    margin: 80px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 900px;
    font-size: 40px;
    color: gray;
    font-family: var(--font);
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.text-box {
    height: 50px;
    width: 700px;
    font-size: 35px;
    font-family: var(--font);
    border: none;
}

.lenght-input { 
    height: 50px;
    width: 70px;
    font-size: 20px;
    margin-left: 5px;
    font-family: var(--font);
    border-radius: 15px;
    background-color: white;
    border: 2px solid;
    text-align: center;
}   

.Copy-button {
    margin-left: 8px;
    background-image: url("assets/copy_icon.png");
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.Generate-button-Div {
    margin: 0 auto;
    text-align: center;
}

.Generate-button {
    background-color: white;
    height: 80px;
    width: 200px;
    font-size: 20px;
    font-family: var(--font);
    border-radius: 25px;
    box-shadow: var(--shadow);
    text-align: center;
    cursor: pointer;
}