:root {
    --shadow:  0.2em 0.2em 0.2em 0.3em #CACACA;
    --font: 'Montserrat', sans-serif;
}
  
body {
    background-color: #ffffff;
}

.container {
    margin-top: 50px;
    color: rgb(36, 36, 36);
}

.Title {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: var(--font);
    border-left: 2px solid;
    border-right: 2px solid;
    width: 900px;
}

.Description {
    margin: 100px auto;
    width: 1000px;
    font-size: 25px;
    text-align: center;
    font-family: var(--font);
}

.Password {
    margin: 70px auto;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 900px;
    font-size: 40px;
    color: gray;
    font-family: var(--font);
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shadow);
    border: 2px solid;
}

.text-box {
    height: 50px;
    width: 700px;
    font-size: 35px;
    font-family: var(--font);
    border: none;
}

.lenght-input { 
    height: 50px;
    width: 70px;
    font-size: 15px;
    margin-left: 5px;
    font-family: var(--font);
    border-radius: 15px;
    background-color: white;
    border: 2px solid;
    text-align: center;
}   

.Copy-button {
    margin-left: 8px;
    background-image: url("assets/copy_icon.png");
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.Generate-button-Div {
    margin: 30px auto;
    text-align: center;
}

.Generate-button {
    background-color: transparent;
    padding: 5px;
    height: 80px;
    width: 200px;
    font-size: 20px;
    font-weight: semibold;
    font-family: var(--font);
    border: 2px solid rgb(216, 216, 216);
    border-radius: 25px;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #CACACA,
    -.5rem -.5rem 1rem #fff;
    text-align: center;
    cursor: pointer;
}

.Generate-button:hover {
    box-shadow: .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #CACACA;
}

.Generate-button:active {
    box-shadow: inset .3rem .3rem 1rem #fff,
    inset -.3rem -.3rem 1rem #CACACA;
}